@{
    ViewBag.Title = "Index";
}

<!-- Begin Page Content -->
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f8f8;
        margin: 0;
        padding: 0;
    }

    #copyright:hover {
        -webkit-text-stroke-width: 4px;
    }

    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    header {
        color: #fff;
        padding-top: 30px;
        min-height: 70px;
    }

        header a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 16px;
        }

    .main {
        padding: 20px;
        background: #fff;
        margin-top: 30px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        color: #333;
    }

    .team-member {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }

        .team-member img {
            border-radius: 50%;
            margin-right: 20px;
        }

        .team-member div {
            color: #444;
        }

        .team-member h3 {
            margin: 0;
            color: #333;
        }

        .team-member p {
            margin: 5px 0;
        }
</style>
            </head>
<body>
    <header>
        <div class="container">
            <h1>Meet Our Development Team</h1>
        </div>
    </header>

    <div class="container">
        <div class="main">
            <div class="team-member">
                <img src="~/Content/img/undraw_profile_2.svg" width="100" height="100">
                <div>
                    <h3>Todiras Valerian</h3>
                    <p>Fullstack Developer</p>
                    <p>Valerian is an experienced developer with a passion for building secure and efficient online banking systems. He leads our team with expertise in backend development and system architecture.</p>
                </div>
            </div>
            <div class="team-member">
                <img src="~/Content/img/undraw_profile_1.svg" width="100" height="100">
                <div>
                    <h3>Furtuna Paula</h3>
                    <p>Frontend Developer</p>
                    <p>Paula specializes in creating user-friendly interfaces and ensuring a seamless user experience. His attention to detail and creativity drive the visual aspects of our online banking system.</p>
                </div>
            </div>
            <div class="team-member">
                <img src="~/Content/img/undraw_profile_3.svg" width="100" height="100">
                <div>
                    <h3>Gutu Anastasia</h3>
                    <p>Frontend Developer</p>
                    <p>Anastasia is an experienced developer with a passion for building secure and efficient online banking systems.</p>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- End of Main Content -->